html
    body
        table
            thead
            tr 
                th Title
                th Summary
            tbody
            each course, index in courses
                tr
                    td=course.title
                    td=course.summary